---
layout: default
---

<!-- Start Hero -->
<div class="hero">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 col-md-8 new-patient-header">
          <h3>New Patients, Welcome to Foot & Ankle Specialists of Virginia</h3>
          <p>Our goal is to get to know you and your current healthcare needs to provide the best course of treatment. During your first visit, we will collect your background information including your medical history.</p>
          <p>To help save time at your first visit, please print out, complete, and bring the completed patient forms below with you.</p>
          <p>Our doctors and staff look forward to providing you with the best in foot and ankle care. Please request an appointment via our online request form or contact any one of our three locations listed below.</p>
          <h4>Patient Forms</h4>
          <p>Please print and fill out the forms below so we can expedite your first visit:</p>
          <ul>
            <li><a href="./pdfs/fasv_face_sheet.pdf" download>FASV Patient Form</a></li>
            <li><a href="./pdfs/Financial Policy.pdf" download>Financial Policy</a></li>
            <li><a href="./pdfs/Notice of Privacy Practices document.pdf" download>Notice of Privacy Practices</a></li>
            <li><a href="./pdfs/Privacy Practice Signature Form.pdf" download>Privacy Practice Signature Form (HIPAA)</a></li>
          </ul>
        </div>

        <div class="col-sm-6 col-md-4 form">
          <h3><svg class="icon icon-envelope-o"><use xlink:href="#icon-envelope-o"></use></svg>Request an Appointment</h3>
          {% include form.html %}
        </div>
      </div>
    </div>
</div>
<!-- End Hero -->

<!-- Start 3 columns -->
<div class="three-shade-col">
    {% for location in site.data.locations %}
    <div class="col-sm-4">
        <h3>{{ location.name }}</h3>
        <ul>
            <li>{{ location.phone }}</li>
            <li>{{ location.hours }}</li>
            <li>{{ location.address }}</li>
        </ul>
    </div>
    {% endfor %}
</div>
<!-- End 3 columns -->
