---
layout: default
---

<!-- Start Hero -->
<div class="hero">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-md-8 telemedicine-header">
                <h3>Telemedicine</h3>
                <p>Patients are now able to schedule a secured virtual visit from the comfort of their home or the
                    convenience of their workplace. Patients can call the office or send in a request via our website
                    to schedule a telemedicine virtual visit. Our staff will be happy to assist you in connecting to a
                    secured virtual visit with one of our board certified doctors.</p>
            </div>

            <div class="col-sm-6 col-md-4 form">
                <h3><svg class="icon icon-envelope-o"><use xlink:href="#icon-envelope-o"></use></svg>Request an Appointment</h3>
                {% include form.html %}
            </div>
        </div>
    </div>
</div>
<!-- End Hero -->

<!-- Start 3 columns -->
<div class="three-shade-col">
    {% for location in site.data.locations %}
    <div class="col-sm-4">
        <h3>{{ location.name }}</h3>
        <ul>
            <li>{{ location.phone }}</li>
            <li>{{ location.hours }}</li>
            <li>{{ location.address }}</li>
        </ul>
    </div>
    {% endfor %}
</div>
<!-- End 3 columns -->
