<form method="post" action="https://formspree.io/sam4fasv@gmail.com">
    <div class="form-field">
        <input id="inputFirstName" name="First Name" type="text" placeholder="First Name" required>
    </div>
    <div class="form-field">
        <input id="inputLastName" name="Last Name" type="text" placeholder="Last Name" required>
    </div>
    <div class="form-field">
        <input id="inputTelephone" name="Telephone" type="tel" placeholder="Phone" required>
    </div>
    <div class="form-field">
        <label for="doctorSelect">Preferred Doctor</label>
        <select class="form-control" id="doctorSelect" name="Preferred Doctor">
            <option value="No Preference">Any Doctor</option>
            <option value="Dr. Laurence Rubin">Dr. Laurence Rubin</option>
            <option value="Dr. Sonya Faircloth">Dr. Sonya Faircloth</option>
        </select>
    </div>
    <div class="form-field">
        <label for="dayOfWeekSelect">Preferred Day of Week</label>
        <select class="form-control" id="dayOfWeekSelect" name="Preferred Day of Week">
            <option value="No Preference">No Preference</option>
            <option value="Monday">Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
        </select>
    </div>
    <div class="form-field">
        <label for="timeOfDaySelect">Preferred Time of Day</label>
        <select class="form-control" id="timeOfDaySelect" name="Preferred Time of Day">
            <option value="No Preference">No Preference</option>
            <option value="Morning">Morning</option>
            <option value="Afternoon">Afternoon</option>
        </select>
    </div>
    <div class="form-field">
        <textarea id="commentsText" rows="3" name="Additional Comments" placeholder="Additional Comments"></textarea>
    </div>
    <input type="hidden" name="_subject" value="Appointment Request for FASV"/>
    <input type="text" name="_gotcha" style="display:none"/>
    <input type="hidden" name="_next" value="//footanklespecialistsva.com/success.html"/>
    <input type="submit" class="btn btn-default" value="Send">
</form>
